body {
    font-family: 'Roboto', sans-serif;
}

.head {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
           
}

.wrapper {
    padding-top: 20px;
    
}

.current {
    background-color: lightgray;
}
.card-body {
    margin: 0;
}
.todaysDate {
    font-weight: bolder;
    font-size: x-large;
    margin: 0;
    padding: 0;
}
.fiveDaycast {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 12px;
    margin-top: 18px;
    padding: 0;
    
}
.forecast {
    margin:auto;
    background-color: lightsteelblue;
    border-style: solid;
    border-color:lightgrey;
    border-width: 1px;
    border-radius: 15px;
}
.citySide {
    border-style:solid;
    border-color:lightgrey;
    border-width: 1px;
    background-color: rgb(202, 202, 202);
    border-radius: 15px;
    margin-top: 4px;
    color: black;
    font-weight: bold;
}
.fiveDays {
    border-style:solid;
    border-color:lightgrey;
    border-width: 1px;
    height: 150px;
    margin: 3px;
}

@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }